<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{meta_title}}">
    <meta name="twitter:description" content="{{meta_description}}">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{meta_title}}">
    <meta property="og:description" content="{{meta_description}}">

    {{!-- 百度分析 --}}
    <meta name="baidu-site-verification" content="6ofMQz4dP0" />

    {{!-- Brand icon --}}
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <link href="/assets/images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="/apple-touch-icon-precomposed.png" rel="apple-touch-icon">

    {{! Styles and Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/ano.css"}}" />
    <link href="{{asset "css/font-awesome.min.css"}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/tomorrow.css"}}">

    {{! Ghost Head }}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

    <!--<span class="mobile btn-mobile-menu">-->
        <!--<i class="fa fa-list btn-mobile-menu__icon"></i>-->
        <!--<i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>-->
    <!--</span>-->


    {{> side-panel}}
    <a class="fa fa-th menuicon" id="J_menuicon" href="/#"></a>
    <a class="fa fa-home homeicon" href="/#blog"></a>

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
            {{{body}}}

            {{> footer}}
        </div>
    </div>


    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <!-- Compatibility for Ghost 0.7.0: http://dev.ghost.org/no-more-jquery/ -->
    <script type="text/javascript" src="{{asset "js/jquery-1.11.3.min.js"}}"></script>

    {{! Ghost Footer}}
    {{ghost_foot}}


    {{! The main JavaScript file }}
    <script type="text/javascript" src="{{asset "js/main.js"}}"></script>

    {{! Highlight.js }}
    <script type="text/javascript" src="{{asset "js/highlight.pack.js"}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
